/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
.vs/
*.csproj
*.sln
Assets/_Recovery/

# Siber Asistan API Key Koruması
Assets/Resources/SiberAsistanConfig.asset
Assets/Resources/SiberAsistanConfig.asset.meta